<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'none'">
  <meta name="viewport" content="width=device-width initial-scale=1">
  {% if page.name == 'cv.html' %}<meta name="robots" content="noindex"/>{% endif %}

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.canonical_url %}
  	<link rel="canonical" href="{{ page.canonical_url }}">
  {% else %}
	  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% endif %}

  {% feed_meta %}
</head>
