body { font: 1.25em/1.25 $base-font-family; margin: 0; background: #fff; text-rendering: optimizeLegibility; }

h1 { font: 600 1.75em/1.286 $heading-font-family; font-stretch: condensed; margin: 0 0 1em; }
h2 { font: 600 1.4em/1.214 $heading-font-family; font-stretch: condensed; margin: 0 0 1em; }
h3 { font: 700 1.1em/1.182 $base-font-family; margin: 0 0 .25em; }
h4 { font: 700 1em/1.2 $base-font-family; margin: 0 0 .25em; }

p { margin: 0 0 1em; }

a { color: $green; text-decoration: none; }
a:focus, a:hover { text-decoration: underline; }

address { font-style: normal; }

abbr { border: 0; text-decoration: none; }
abbr[title] { cursor: help; }

ul, ol { margin: 0 0 1em 1.5em; padding: 0; }

dl { @include clearfix; }
dt { font-size: .8em; text-transform: uppercase; letter-spacing: .05em; float: left; clear: both; margin: .358em 0 0; padding: 0; }
dd { float: right; margin: 0; padding: 0; }

table { border-collapse: collapse; font-size: 0.7em; margin: 2em 0; width: 100%; }
caption { padding-bottom: 1em; }
th { padding: 0 .25em .25em 0; text-align: left; vertical-align: top; }
td { padding: .25em; vertical-align: top; border-top: 1px solid $light-grey; }
td:first-child { padding-left: 0; }
td.number { text-align: right; white-space: nowrap; }
td.answer-complete { text-align: center; }
td.answer-yes { background: $light-green; }
td.answer-no { background: #efb8ba; }
td.answer-maybe { background: #f1f4d4; }

.meta { font-size: .8em; text-transform: uppercase; letter-spacing: .05em; }

.notice { background: $green; color: #fff; margin: -1em -1em 2em; padding: 1em; }

// Icons
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey;
        }
    }
}

.sr-only { position: absolute; left: -9999px; }
