body { max-width: 1200px; margin: 0 auto; }

.site-header { border-bottom: 1px solid $grey; padding: 1em; @include clearfix; }
.site-title { float: left; }
.site-header>nav { float: right; }
.site-header ul { margin: 0; padding: 0; list-style: none; }
.site-header li { display: inline-block; }
.site-header li::before { content: " / "; margin: 0 .5em; }
.site-header li:first-child::before { content: none; }


main { padding: 1em; }

.site-footer { border-top: 1px solid $grey; padding: 1em; clear: both; }
.social-media-list { margin: 0; padding: 0; list-style: none; }
