.site-header { border-bottom: 1px solid $grey; padding: 1em; }

main { padding: 1em; }

.site-footer { border-top: 1px solid $grey; padding: 1em; clear: both; }
.social-media-list { margin: 0; padding: 0; list-style: none; }
