.posts {
	margin: 0;
	padding: 0;
	list-style: none;
}

.post {
	margin-bottom: 2em;
}

.post img {
	max-width: 100%;
}

.post code {
	-moz-tab-size: 2;
	tab-size: 2;
}

.attribution {
	background: $light-grey;
	padding: 1em;
	margin-bottom: 1em;
}
